@using MyOrm
@model IEnumerable<NaturalPerson>

<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Birth Date</th>
        <th>Address</th>
    </tr>

    @foreach (var person in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => person.Id)</td>
        <td>@Html.DisplayFor(model => person.FirstName)</td>
        <td>@Html.DisplayFor(model => person.LastName)</td>
        <td>@Html.DisplayFor(model => person.Email)</td>
        <td>@Html.DisplayFor(model => person.Gender)</td>
        <td>@Html.DisplayFor(model => person.BirthDate)</td>
        <td>@Html.DisplayFor(model => person.Address)</td>

        </tr>
    }


</table>


